<div  class="form">
  <input type="text" placeholder="Level" [(ngModel)]="level" class="child">
  <input type="text" placeholder="Question" [(ngModel)]="session_answer" class="child">
  <input type="text" placeholder="Answer" [(ngModel)]="session_comment" class="child">
  <input type="text" placeholder="Comment" [(ngModel)]="session_question" class="child">
  <input type="text" placeholder="Topic" [(ngModel)]="topic_name" class="child">
  <div *ngIf="loading" class="child">Uploading</div>
  <div *ngIf="error" class="child">{{error}}</div>
  <input *ngIf="!loading" type="submit" value="Add" class="child" (click)="uploadQuestion()">
</div>